.root{
    padding: 16px 0;
    border-bottom: 1px solid #DCDBDD;
}
.tabs{
    list-style-type: none;
    display: flex;
    gap: 8px;
    color: #6F6E77;
}
.tabs li{
    line-height: 24px;
    border-radius: md;
    padding: 8px 16px;
    background: #EDECEE;
    border: 1px solid #EDECEE;
    font-size: sm;
    letter-spacing: -0.15px;
    line-height: 1.5rem;
}
.tabs li.active{
    font-weight: semibold;
    background: #E4E2E4;
    border: 1px solid #E4E2E4;
}