.galery{
  overflow-y: scroll;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}
.galery img{
  cursor: pointer;
}
.imageWrapper{
  padding: 10%;
  background-color: #e2e2e2;
  border-radius: 6px;
}