.galery{
  height: 647px;
  overflow-y: scroll;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}
.galery img{
  cursor: pointer;
}
.imageWrapper{
  padding: 10%;
  background-color: #DCDBDD;
  border-radius: 6px;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
}
.imageWrapper:hover{
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 0px 2px #6E56CF;
}