.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 24px;
  padding: nil;
  list-style: none;
  height: 100vh;
  margin-inline: lg;
  position: sticky;
  top: 24px;
  overflow: scroll;
}

.root::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
