.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 24px;
  margin-bottom: 0;
  padding: nil;
  list-style: none;
  margin-inline: lg;
}

.root::-webkit-scrollbar {
  display: none; 
