.root {
  background: white;
  padding: 8px;
  border: 1px solid #dcdbdd;
  border-radius: 8px;
  position: relative;
  transition: 100ms ease-in-out;
}
.root:hover{
  border: 1px solid #7C66DC;
  box-shadow: 0px 0px 0px 1px #7C66DC;
  cursor: pointer;
}