.list {
  display: flex;
  flex-direction: column;
  gap: 2xs;
  width: 240px;
  border-right: 1px solid #dcdbdd;
  padding: sm;
  list-style-type: none;
}
.list li {
  border: none;
  border-radius: md;
  font-size: sm;
  color: #6f6e77;
  padding: 8px 16px;
}
.list li .SliceNumber {
  color: #1a1523;
  font-weight: medium;
}
.list li:hover {
  cursor: pointer;
  background-color: #edecee;
}
