.list{
  display: flex;
  flex-direction: column;
  gap: 2xs;
  width: 240px;
  border-right: 1px solid #DCDBDD;
  padding: sm;
  list-style-type: none;
}
.list li{
  border: none;
  border-radius: md;
  font-size: sm;
  color: #6F6E77;
  padding: 8px 16px;
}
.list li .SliceNumber{
  color: #1A1523;
  font-weight: medium;
}
.list li:hover{
  cursor: pointer;
  background-color: #EDECEE;
}
.listOfSlices{
  padding: 16px 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  gap: sm;
}