.root {
  border: none;
  padding: xs;
  background: transparent;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.root > * {
  fill: rgb(224, 224, 224);
  transition: 100ms ease-in-out;
}

.root:hover > * {
  fill: #6e56cf;
}

.dragover > * {
  fill: #6e56cf;
}
